* {
    color: #EFEFEF;
}
body {
    background: #000000;
}

input {
    background: #0a0a0a;
}

select {
    position: absolute;
    background-color: #0f0f0f;
    max-width: 30%;
    overflow-x: scroll;
}

td {
    width: 33%;
    padding: 5px;
    overflow: hidden;
    height: 20%;
    align-content: start;
}

table {
    table-layout: fixed;
    width: 100%;
}

tr {
    width: 32%;
}

.output {
    max-width: 30%;
    text-align: center;
    height: auto;
}

option {
    background-color: #111111;
}

