body {
    background-color: #212121;
    color: white;
}

.invisible {
    opacity: 0;
}

footer {
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: #CD0000;
}

.text {
    font-size: 20px;
    font-family: "Times New Roman";
}

.select {
    margin-top: 15px;
}

.tooltip .tooltip-text {
    letter-spacing: normal;
    visibility: hidden;
    width: auto;
    background-color: #111;
    color: #fff;
    font-size: 17px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}