body {
    background-color: #212121;
    color: white;
}

.invisible {
    opacity: 0;
    display: none;
}

footer {
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: #CD0000;
}

.text {
    font-size: 20px;
    font-family: "Times New Roman";
}

.select {
    margin-top: 15px;
}

.button-img-no-rotation:hover {
    transform: scale(1.08);
    -webkit-filter: drop-shadow(3px 3px 2px rgba(139, 0, 0, 0.5));
}

.tooltip .tooltip-text {
    letter-spacing: normal;
    visibility: hidden;
    width: auto;
    background-color: #111;
    color: #fff;
    font-size: 17px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(15, 15, 15, 0.42));
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip .tooltip-bottom-text {
    top: 100%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltip-top-text {
    bottom: 100%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 0.9;
}

.tweet-img {
    transform: rotate(270deg);
    rotation: 270deg;
}

.tweet-img:hover {
    transform: scale(1.08) rotate(270deg);
    -webkit-filter: drop-shadow(-3px 3px 2px rgba(139, 0, 0, 0.5));
}

.button-img {
    width: 69px;
    height: 69px;
}

.plus-img:hover {
    transform: scale(1.08);
    -webkit-filter: drop-shadow(-3px 3px 2px rgba(139, 0, 0, 0.5));
}